# Quick Overview of SQLite with Python

In [1]:
#import the sqlite library
import sqlite3

In [2]:
# create a database connection
conn = sqlite3.connect("student.db")

In [3]:
# create a cursor
cur = conn.cursor()

In [4]:
# create table
cur.execute("CREATE TABLE student (name TEXT, surname TEXT, score REAL)")

In [6]:
#Insert a row in the table

cur.execute("INSERT INTO student VALUES ('Amit', 'Hansani', '90')")

In [7]:
#save results
conn.commit()

## Connecting to an existing db

In [8]:
conn = sqlite3.connect("student.db")
cur = conn.cursor()

In [10]:
#select  records in student
cur.execute("SELECT * FROM student")
cur.fetchone()

('Amit', 'Hansani', 90.0)

In [11]:
student_record = [
    ("Aishwarya" , "Das" , 70),
    ("Abhishek" ,  "Singh", 85.5)
]

In [12]:
cur.executemany("INSERT INTO student VALUES (?,?,?)",student_record)

In [13]:
conn.commit()

In [14]:
#Run Queries
cur.execute("SELECT * FROM student WHERE name= 'Amit'")
cur.fetchall()

[('Amit', 'Hansani', 90.0)]

In [15]:
cur.execute("SELECT SUM(score) FROM student")
cur.fetchone()

(245.5,)

In [16]:
conn.close()

In [17]:
cur.execute("SELECT SUM(score) FROM student")
cur.fetchone()

ProgrammingError: Cannot operate on a closed database.